body{
  padding: 50px;
  text-align: center;
}
form{
  margin-top: 10px;
}
.guess-box{
  height: 200px;
  width: 400px;
  margin: 0 auto;
  border: 1px solid rgb(222, 71, 23);
  box-shadow: 2px 2px 2px rgb(138, 91, 76);
  h1{
    color: rgb(222, 190, 23) !important;
  }
  h2{
    color: rgb(222, 71, 23) !important;
  }
}

h3{
  color: rgb(16, 87, 89) !important;
}

h4{
  color: rgb(56, 81, 82) !important;
}
h1{
  color: rgb(16, 87, 89) !important;
}
